
.MainNav{
    background-color: #1A190F;
}

.MainNav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: large;
}
.MainNav ul li{
    text-align: center;
}

.active{
    background-color: white;
    color: #555;
}

li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0;
}

li a:hover {
    background-color: white;
    color: #555;
  }